@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-green: #222721;
  --mid-green: #21401d;
  --light-green: #408733;
  --font-color: #f0f0f0;
  --background: #fafafa;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fafafa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollbar-hide {
  scrollbar-width: none;
}
